<div id="<%= dom_id partner %>">
  <p>
    <strong>Name:</strong>
    <%= partner.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= partner.code %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= partner.title %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= partner.kind %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= partner.role %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= partner.url %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= partner.comment %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= partner.status %>
  </p>

</div>
