<p style="color: green"><%= notice %></p>

<%= render @partner %>

<div>
  <%= link_to "Edit this partner", edit_admin_partner_path(@partner) %> |
  <%= link_to "Back to partners", admin_partners_path %>

  <%= button_to "Destroy this partner", [:admin, @partner], method: :delete %>
</div>
