<p style="color: green"><%= notice %></p>

<%= render @person %>
<hr>
<div>
  <%= link_to "Edit this person", edit_person_path(@person), class: 'btn btn-warning btn-sm' %> |
  <%= link_to "Back to people", people_path, class: 'btn btn-info btn-sm' %>

  <%#= button_to "Destroy this person", @person, method: :delete %>
  <%= link_to "Destroy this person", @person, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
</div>
