<div class='container'>
  <table class='table table-striped'>
    <tbody>
      <% @bank.attributes.each do |key, value| %>
        <% unless key == 'id' || key.include?('digest') || key == 'created_at' || key == 'updated_at' %>
          <div class='tr'>
            <% if key == 'status' %>
              <td><%= t 'status.status' %></td>
              <td><%= status_mark @bank.status %></td>
            <% else %>
              <td><%= t "activerecord.attributes.bank.#{key}" %></td>
              <td><%= value %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= render 'admin/shared/show_rich_text_content', object: @bank %>
  <%= render 'admin/shared/show_images', object: @bank %>
</div>
